* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7f7;
}

/* Container Main */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Cards */
.card-container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  width: 320px !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

/* Chart */
.chart-container {
  display: flex;
  justify-content: center;
  width: 85%;
}

.image {
  width: 500px;
  margin-top: 20px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }

  .card {
    margin: 2% 0 !important;
  }

  .chart-container {
    width: 100%;
  }
}

/* COUNTRY PICKER */
.form-control {
  width: 30%;
  margin-bottom: 30px !important;
}

/* FOOTER */
.footer-container {
  width: 100%;
  font-family: Roboto;
  margin-top: 20px;
}

/* FOOTER */
.footer {
  color: black;
  height: 290px;
  position: relative;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  text-align: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}

.footer .footer-content {
  height: 200px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1 {
  color: black;
}

.footer-para {
  margin: 10px 0;
}

.footer .footer-content .about .contact span {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1em;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 38px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  text-decoration: none;
  color: #706060;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
  color: rgb(30, 30, 150);
  border: 1px solid black;
  transition: all 0.3s;
}

.footer-section {
  text-align: center;
}

.logo-text {
  font-variant: initial;
}

.logo-text .logo-span {
  color: #ec4961;
}

.page-wrapper {
  min-height: 100%;
}
